<div ng-cloak class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="tabletitle">{{mygroupsCtrl.username}}</div>
					<div class="table">

						<div class="row header">
							<div class="cell">
								Group Name
							</div>
							<div class="cell">
								Group Id
							</div>
							<div class="cell">
								Admin Id
							</div>
							<div class="cell">
								Options
							</div>


						</div>

						<div ng-repeat="group in mygroupsCtrl.groupList" class="row">
							<div class="cell" data-title="Group Name" ng-click="mygroupsCtrl.loadMessages(group.gid)" >
								{{group.gname}}
							</div>
							<div class="cell" data-title="Group Id" ng-click="mygroupsCtrl.loadMessages(group.gid)" >
								{{group.gid}}
							</div>
							<div class="cell" data-title="Admin Id" ng-click="mygroupsCtrl.loadMessages(group.gid)" >
								{{group.pid}}
							</div>
							<div class="cell">
								<style>
									.option{
										border: solid thin gray;
										padding: 5px;
										z-index:9999;
									}
									.option:hover{
										color:white;
										border: solid thin white;
									}
								</style>
								<button class="option" ng-click="mygroupsCtrl.showAddMemberBox(group.gid)">Add member</button>
							</div>

						</div>

					</div>
			</div>
			<div id="enterusernamebox" style="height:100%; width:100%; background:rgba(0, 0, 0, 0.5); z-index:9999; position:absolute; display:none; ">
			<div style="margin-top:10px;max-width:250px; margin: 200px auto;">
				<div class="col s12 m6">
					<div class="card teal darken-1">
						<span text-white style="font-size:medium; color:white; margin-left:200px; cursor:pointer;" ng-click="mygroupsCtrl.hideAddMemberBox()">X</span>
						<div class="card-content " style="background:green">
							<i class="material-icons prefix" style="color: white">mode_edit</i> <span text-white style="font-size:larger; color:white">Enter Username:</span>
							 <textarea style="background: white" id="textarea1" class="materialize-textarea" ></textarea>
						</div>
						<div class="card-action white">
							<button class="btn waves-effect waves-light " style="background:green" type="submit" name="action" ng-click="mygroupsCtrl.addMember()">ADD
							<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</div>
			</div>
			</div>
</div>



<link rel="stylesheet" type="text/css" href="css/groupmessages.css">
<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet" type="text/css" href="css/tableutil.css">
<link rel="stylesheet" type="text/css" href="css/tablemain.css">
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="vendor/select2/select2.min.js"></script>
<script src="js/main.js"></script>